<% provide(:title, "トップ") %>
<div class="top">
    <h1>自己管理システム</h1>
    <p>モチベーションを保ち自己管理ができるアプリケーション</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-info" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-info" %>
</div>