<% provide(:title, "") %>
<div class="center">
    <h1>自己管理システム</h1><br>
    <p>このアプリケーションでは、登録された自身の情報を閲覧・登録・編集することができます。</p>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>