<% provide(:title, "") %>
<div class="center">
    <h1>自己管理システム</h1>
    <p>このアプリケーションでは、登録された自身の情報を閲覧・登録・編集することができます。</p>
    <%= link_to "Sign up", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>