<% provide(:title, "") %>
<div class="center">
    <h1>今日1日のスケジュール</h1>
    <table class="table table-bordered table-condensed table-striped table-hover" id="table-schedules">
        <thead>
            <tr>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>taskの今日1日のスケジュールの値</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>healthの今日1日のスケジュールの値</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>stressの今日1日のスケジュールの値</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h1>前日の反省</h1>
    <table class="table table-bordered table-condensed table-striped table-hover" id="table-schedules">
        <thead>
            <tr>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>taskの前日の反省の値</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>healthの前日の反省の値</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>stressの前日の反省の値</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h1>全体のスケジュール</h1>
</div>